/* Estilos para tamaño de pantalla mayor a 350px */
@media (min-width: 350px) {
  body {
    text-align: center;
    width: 100%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  a {
    display: inline-block;
  }

  form {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  label {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 20px;
  }
  
  .numero, .botonenviar{
    display: block;
  }

  input, textarea {
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 20px;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border-color: black;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

  input::placeholder {
    font-size: 20px;
    text-indent: 5px;
  }

  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border-color: black;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

  textarea::placeholder {
    font-size: 20px;
    text-indent: 5px;
  }
}

button {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: initial;
  margin-bottom: 0.5em;
  border: 0px;
  background-color: #128c7e;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.Cafecito{
  margin-top: 120px;
}

/* Estilos para tamaño de pantalla entre 200px y 350px */
@media (min-width: 200px) and (max-width: 350px) {
  body {
    text-align: center;
    width: 100%;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    object-position: center;
  }

  form {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  /* Estilo para labels principales */
  label {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 20px;
  }

  .numero, .botonenviar{
    display: block;
  }

  input, textarea {
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
  }

  input::placeholder {
    font-size: 20px;
    text-indent: 5px;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border-color: black;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border-color: black;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 20px;
  }

  textarea::placeholder {
    font-size: 20px;
    text-indent: 5px;
  }

  button {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: initial;
    margin-bottom: 0.5em;
    border: 0px;
    background-color: #128c7e;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }
  .Cafecito{
    margin-top: 120px;
  }
}